
html, #app, #app>div {
    height: 100%;
    width: 100%;
}

.bold {
    font-weight: bold;
}

// This sets the application to full screen
#root {
    width: 100vw;
}

.App {
    margin: 2%;
}

body {
    background-color: #323639;
}

p, h1, h2, h3, h4, label {
    color: white;
}
